.addFirmSection {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 400px;
}

.addFirmSection h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 16px;
}

.addFirmSection form {
  display: flex;
  flex-direction: column;
}

.category-heading{
  margin-right: 10px;
}
.addFirmSection input[type="text"],
.addFirmSection button {
  padding: 0.8rem;
  /* margin-bottom: 1rem; */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 13px;
}

.addFirmSection input[type="file"] {
  /* padding-left: 0; */
  margin-bottom: 10px;
}

.addFirmSection button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 30%;
  align-self: center;
}

.addFirmSection button:hover {
  background-color: #0056b3;
}

.check-inputs {
  /* margin-bottom: 1rem; */
  display: flex;
  margin-bottom: 0;
  
}
.inputs-container label{
  color: #999;
  cursor: pointer;
}
.check-inputs label {
  margin-right: 10px;
  font-weight: 500;
  font-size: 13px;
  /* color: #999; */
}

.inputs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.checkbox-container label {
  margin-right: 0.5rem;
  font-weight: normal;
}

.checkbox-container input[type="checkbox"] {
  margin: 0;
}
.percentage-input {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
  font-size: 13px;
}

.percentage-symbol{
    padding-left: 2px;
}
.percentage-input input[type="number"]{
 padding: 0.8rem;
  /* margin-bottom: 1rem; */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 13px;
  width: 100%;
  
}
.percentage-input input[type="number"]::after {
  content: "%";
  position: absolute;
  right: 5px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  color: #999; /* Placeholder color */
  pointer-events: none; /* Make it non-interactive */
}