/* Login css */
.loginSection {
  width: 300px; /* Use percentage for responsiveness */
  max-width: 300px; /* Limit maximum width on larger screens */
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 310px; 
}

.loginSection h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 1.2rem; /* Use rem for scalable font sizes */
}

.loginSection form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"] {
  padding: 12px; /* Increase padding for better touch targets */
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem; /* Scalable font size */
}

.loginSection button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 12px 20px; /* Increase padding */
  border: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem; /* Scalable font size */
  transition: background-color 0.3s ease;
  align-self: center;
  margin-bottom: 12px;
}

.loginSection button[type="submit"]:hover {
  background-color: #0056b3;
}

.login-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.login-link {
  color: #333;
  font-weight: 400;
  cursor: pointer;
  font-size: 0.8rem; /* Scalable font size */
}

.login-signup {
  text-align: center;
  font-size: 0.9rem; /* Scalable font size */
  font-weight: 100;
}

span {
  color: #007bff;
  font-weight: 600;
}

/* Responsive adjustments */
@media (max-width: 768px) { /* Mobile and tablet */
  .loginSection {
      margin: 30px auto; /* Adjust margin for smaller screens */
      padding: 15px; /* Adjust padding */
  }

  .loginSection h1 {
      font-size: 1.1rem; /* Adjust font size */
  }

  input[type="text"],
  input[type="password"],
  button[type="submit"] {
      padding: 10px; /* Adjust padding */
      font-size: 0.95rem; /* Adjust font size */
  }

  .login-link {
      font-size: 0.75rem; /* Adjust font size */
  }

  .login-signup {
      font-size: 0.85rem; /* Adjust font size */
  }
}

@media (max-width: 480px) { /* Smaller mobile screens */
  .loginSection {
      width: 95%; /* Take up more width on smaller screens */
      height: 290px;
  }
  
}